<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/manager.css">
  <title>Trang Quản Trị</title>
  <!-- Thêm Bootstrap Icons CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css" />
  <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
  <style>
    body {
      box-shadow: 0;

    }
    .admin {
      display: flex;
      height:740px;
    }

    .sidebar {
      width: 250px;
      background-color: #333;
      color: white;
      padding: 20px;
      height: 737px;
      box-sizing: border-box;
    }

    .content {
      /* flex-grow: 1; */
      /* margin-top: 40px; */
      display: flex;

    }

    .menu {
      margin-right: 0;
      padding-right: 0;
    }

    .navbar1 {
      width: 275px;
      margin-top: 2px;
      margin-left: 5px;
      margin-right: auto;
      /* Giữ vị trí bản đồ cân đối */
      border: 2px solid #000;
      /* Tạo viền màu đen cho bản đồ */
      border-radius: 10px;
      /* Bo tròn các góc viền */
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
      /* Đổ bóng cho bản đồ */
    }

    .searchInput {

      top: 0;
      margin-top: 10px;
    }

    .sreach {
      display: flex;
      margin-top: 8px;
    }

    #map {

      margin-right: 0;
      height: 690px;
      /* Thu nhỏ chiều cao */
      width: 1000px;
      /* Thu nhỏ chiều rộng về bên phải */
      /* margin-left: 52px; */
      position: relative;
      z-index: 0;
    }

    .btn1 {
      color: white;
      background-color: rgb(171, 222, 244);
      text-transform: none;
    }

    .btn1 :hover {
      color: white;
      text-transform: none;
    }

    origin {
      position: absolute;
      margin-left: 2px;

    }
    .title {
    margin-bottom: 20px;
    color: #333;
  }
  
  .add-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s;
  }
  
  .add-button:hover {
    background-color: #218838;
  }
  
  /* Bảng */
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
  }
  
  .custom-table th,
  .custom-table td {
    text-align: left;
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  .custom-table th {
    background-color: #007bff;
    color: white;
  }
  
  .custom-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .custom-table tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Nút hành động */
  .edit-button,
  .delete-button {
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .edit-button {
    background-color: #ffc107;
    color: white;
    transition: background-color 0.3s;
  }
  
  .edit-button:hover {
    background-color: #e0a800;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: white;
    transition: background-color 0.3s;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  .list p {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  </style>
</head>

<body>
  <div class="admin">
    <div class="sidebar">
      <h2>Quản Trị</h2>
      <a href="/index">Dashboard</a>
      <a href="/quanlixe">Quản lý Xe</a>
      <a href="#">Quản lý Điểm Thuê</a>
      <a href="/user_manager">Quản lý Khách Hàng</a>
      <a href="/trangchu">Đăng Xuất</a>
    </div>
    <div class="menu">
      <div class="content">
        <!-- <div class="navbar1">
          <hr style="margin-bottom: 3px;">
          <button style="height: 35px;margin-left: 5px; margin-bottom: 5px;" class="btn btn-info" id="nearestButton"
            onclick="document.querySelector('#origin').value = 'Vị trí hiện tại'">Vị trí gần nhất </button>
          <br>
          <h5 style="color: black;background-color: aquamarine; ">Tìm xe : </h5>
          <form action="/search" method="POST" style="margin-left:3px ;">
            <label for="seat_id">Loại xe:</label>
            <select name="seat_id" id="seat_id" style="width: 200px;">
              <option value="">All</option>
              <% seats.forEach(seat=> { %>
                <option value="<%= seat.id %>">
                  <%= seat.seats %>
                </option>
                <% }); %>
            </select>
            <br>
            <label for="car_brand_id">Hãng xe:</label>
            <select name="car_brand_id" id="car_brand_id" style="width: 190px;">
              <option value="">All</option>
              <% carBrands.forEach(brand=> { %>
                <option value=" <%=brand.id %>">
                  <%= brand.name %>
                </option>
                <% }); %>
            </select>
             <br>
            <label for="car_id">Dòng xe:</label>
            <select name="car_id" id="car_id">
              <option value="">All</option>
              <% cars.forEach(car=> { %>
                <option value="<%= car.id %>">
                  <%= car.model %>
                </option>
                <% }); %>
            </select>

            <button type="submit" class="btn btn-info">Search</button>
          </form>-->


          <a href="/list_addresses"><button type="button" class="btn btn-success" style="margin: 5px 0 0 5px;"> Danh
              sách địa chỉ </button></a> 
          <!-- <h5 style="margin: 10px ;color: black; ">Kết quả : </h5>
          <div class="results" style="height: 250px; overflow-y: scroll; margin-left: 2px;">
            <div class="results ">
              <% if (results && results.length> 0) { %>
                <div class="list-group">
                  <% results.forEach(result=> { %>
                    <div class="list">
                      <hr style="margin: 0px;">
                      <p><strong>Loại xe:</strong>
                        <%= result.seat_number %>
                      </p>
                      <p><strong>Hãng xe:</strong>
                        <%= result.brand_name %>
                      </p>

                      <p><strong>Dòng xe:</strong>
                        <%= result.model %>
                      </p>
                      <p><strong>Giá :</strong>
                        <%= result.price_per_hour %> /giờ (VND) <br>
                          <%= result.price_per_day %>/ngày (VND)
                      </p>

                      <p><strong>Cửa hàng:</strong>
                        <%= result.store_name %>
                      </p>
                      <p><strong>Địa chỉ:</strong>
                        <%= result.store_address %>
                      </p>
                      <p><strong>Số điện thoại:</strong>
                        <%= result.store_phone %>
                      </p>
                      <button class="btn btn-primary" onclick="zoomToLocation(<%= result.lat %>, <%= result.long %>)">
                        Cửa hàng
                      </button>
                    </div>
                    <% }); %>

                </div>
                <% } else { %>
                  <p class="text-center text-danger">Không tìm thấy kết quả nào.</p>
                  <% } %>
            </div>
          </div>
          <br>
        </div> -->

        <div id="map"></div>
      </div>
    </div>
   
    <button id="getLocationButton" onclick="userLocation()"
      style="position: absolute;left: 4px ;top: 32px;margin-top: 39px; z-index: 1; margin-left: 240px;"
      class="btn btn-info">Vị trí của bạn</button>
  </div>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<script src="/js/mapadmin.js"></script>




</body>

</html>