<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/manager.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <title>Quản lý Users</title>
</head>
<body>
  <!-- Sidebar -->
  <div class="sidebar">
    <h2>Quản Trị</h2>
    <a href="/index">Dashboard</a>
    <a href="/quanlixe">Quản lý xe</a>
    <a href="/car_addresses">Quản lý Điểm Thuê</a>
    <a href="#">Quản lý Khách Hàng</a>
    <a href="/trangchu">Đăng Xuất</a>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <!-- Menu Marquee -->
    <div class="menu">
      <marquee style="font-size: 25px;">
        <i class="fa-solid fa-car"></i> Chúc Quản Trị Viên làm việc hiệu quả <i class="fa-solid fa-car"></i>
      </marquee>
    </div>

    <h1 class="title">Quản lý Users</h1>
    <table class="custom-table">
      <thead>
        <tr>
          <th>id</th>
          <th>fullname</th>
          <th>username</th>
          <th>password</th>
          <th>phone</th>
          <th>role</th>
          <th>Actions</th> 
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %> 
          <tr>
            <td><%= user.id %></td>
            <td><%= user.fullname %></td>
            <td><%= user.username %></td>
            <td><%= user.password %></td>
            <td><%= user.phone %></td>
            <td><%= user.role %></td>
            <td>
              <a href="/edit_user/<%= user.id %>">Sửa</a> | 
              <form action="/delete_user/<%= user.id %>" method="POST" style="display:inline;">
                <button class="delete-button" type="submit" onclick="return confirm('Bạn có chắc chắn muốn xóa người dùng này không?')">Xóa</button>
            </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <!-- DataTables Script -->
  <script>
    $(document).ready(function () {
      $('.custom-table').DataTable({
        "paging": true,        // Bật phân trang
        "pageLength": 5,       // Số hàng hiển thị mỗi trang
        "lengthChange": false, // Ẩn menu chọn số hàng mỗi trang
        "info": false          // Ẩn thông tin tổng số bản ghi
      });
    });
  </script>
</body>
</html>
